@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}


body{
  position: relative;
  font-family: 'Merriweather', serif;
  overflow: auto;
  height: 100vh;
}

header{
  position: relative;
  background-image: linear-gradient(rgba(229, 229, 228, 0.65), rgba(225, 225, 223, 0.85)), url(Images/index-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 120px;
}

header h1{
  font-family: verdana, sans-serif;
  letter-spacing: 2px;
  position: absolute;
  max-width: 1200px;
  background-color: rgba(242, 242, 242, 0.8);
  top: 10px;
  right: 30px;
  border-radius: 1px;
  padding: 20px;
  text-align: center;
  color: #000;
  font-size: 2em;
  box-shadow: 10px 10px #F2C20E;
  z-index: 4;
}

.abcri-logo{
  width: 190px;
  height: 110px;
  margin: 5px;
}

.mngt-logo{
  width: 260px;
  height: 110px;
  margin: 5px 40px;
}

main{
  font-family: 'Crimson Text', serif;
}

.info{
  position: relative;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info h1{
  font-size: 50px;
  text-align: center;
}

.info p{
  font-size: 18px;
  text-align: center;
  line-height: 2;
}

.poly-q-logo img{
  width: 150px;
  height: auto;
}


.info-lists{
  position: relative;
  display: flex;
  padding: 30px 80px;
  background: #E8E8E8;
  font-size: 20px;
  margin-top: 50px;
  border: 1px solid #CCCCCC;
}

.info-lists a{
  text-decoration: none;
}

.info-lists a:hover{
  text-decoration: underline;
}

.info-lists ul li{
  list-style: none;
}

.info-lists .list-2{
  padding-left: 50px;
}









@media (max-width: 472px){
  *{
    margin: 0;
    padding: 0;
  }

  header{
    width: 100vw;
  }
  header h1{
    font-family: verdana, sans-serif;
    max-width: 100vw;
    border-radius: 1px;
    text-align: center;
    left: 35px;
    top: 65px;
    color: #000;
    padding: 0;
    font-size: 0.8em;
    box-shadow: 5px 5px #F2C20E !important;
    z-index: 4;
  }

  .abcri-logo{
    width: 90px;
    height: 50px;
  }

  .mngt-logo{
    position: absolute;
    width: 110px;
    height: 50px;
    right: 20px;
    margin: 0 !important;
    padding: 3px;
  }

}


@media (min-width: 473px) and (max-width: 622px){
  *{
    margin: 0;
    padding: 0;
  }

  header{
    width: 100%;
  }
  header h1{
    font-family: verdana, sans-serif;
    max-width: 100vw;
    border-radius: 1px;
    text-align: center;
    left: 35px;
    top: 65px;
    color: #000;
    padding: 0;
    font-size: 1em;
    box-shadow: 5px 5px #F2C20E !important;
    z-index: 4;
  }

  .abcri-logo{
    width: 90px;
    height: 50px;
  }

  .mngt-logo{
    position: absolute;
    width: 110px;
    height: 50px;
    right: 20px;
    margin: 0 !important;
    padding: 3px;
  }

}

@media (min-width: 623px) and (max-width: 700px){
  *{
    margin: 0;
    padding: 0;
  }

  header{
    width: 100%;
  }
  header h1{
    font-family: verdana, sans-serif;
    max-width: 100vw;
    border-radius: 1px;
    text-align: center;
    left: 35px;
    top: 65px;
    color: #000;
    padding: 0;
    font-size: 1.2em;
    box-shadow: 5px 5px #F2C20E !important;
    z-index: 4;
  }
  .abcri-logo{
    width: 90px;
    height: 50px;
  }

  .mngt-logo{
    position: absolute;
    width: 120px;
    height: 50px;
    right: 0;
    margin: 0 !important;
    padding: 3px;
  }

}

@media (min-width: 701px) and (max-width: 952px){

  header h1{
    font-size: 18px;
    max-width: 300px;
    padding: 2px !important;
    top: 20px;
    right: 10px;
    box-shadow: 5px 5px #F7B608 !important;
  }

  .abcri-logo{
    width: 140px;
    height: 90px;
    margin-bottom: 20px !important;
  }

  .mngt-logo{
    width: 200px;
    height: 90px;
    margin: 20px 0px !important;
  }

}

@media (min-width: 953px) and (max-width: 1246px){
    header h1{
      max-width: 400px;
      font-size: 20px;
      padding: 0 !important;
      margin: 15px 0 !important;
    }
}

@media (min-width: 1247px) and (max-width: 1366px){
    header h1{
      max-width: 650px;
      font-size: 30px;
      padding: 0 !important;
      margin: 15px 0 !important;
    }
  }

  @media (min-width: 1367px) and (max-width: 1589px){
    header h1{
      max-width: 800px;
      font-size: 30px;
      padding: 0 !important;
      margin: 15px 0 !important;
    }

  }

  @media (min-width: 1590px){

    header h1{
      font-size: 27px;
    }
}


@media screen and (max-width: 500px){

  .info p{
    font-size: 15px;
  }
  .info-lists{
    padding: 20px 5px !important;
    font-size: 12px;
  }

  .info-lists a{
    text-decoration: none;
  }

  .info-lists a:hover{
    text-decoration: underline;
  }

  .info-lists ul li{
    list-style: none;
  }

  .info-lists .list-2{
    padding-left: 10px !important;
  }
}


@media (min-width: 501px) and (max-width: 800px){
  .info-lists{
    padding: 20px 50px !important;
  }
}
