@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Genos:ital,wght@0,100;0,300;0,600;1,400&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;500;600;700&family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Genos:ital,wght@0,100;0,300;0,600;1,400&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}


html, body{
  position: relative;
  background: #fff;
  font-family: 'El Messiri', sans-serif;
  overflow:auto;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.8)), url(../Images/authors_background.jpg) no-repeat;
  background-size: cover;
}

header{
  position: relative;
  height: 120px;
  background-image: linear-gradient(rgba(229, 229, 228, 0.65), rgba(225, 225, 223, 0.85)), url(../Images/index-bg.jpg);
  background-position: center;
  background-size: cover;
}

header h1{
  font-family: verdana, sans-serif;
  letter-spacing: 2px;
  position: absolute;
  max-width: 1200px;
  top: 10px;
  right: 30px;
  border-radius: 1px;
  padding: 20px;
  text-align: center;
  color: #000;
  background-color: rgba(242, 242, 242, 0.8);
  font-size: 2em;
  box-shadow: 10px 10px #F2C20E;
  z-index: 4;
}

.abcri-logo{
  width: 190px;
  height: 110px;
  margin: 5px;
}

.mngt-logo{
  width: 260px;
  height: 110px;
  margin: 5px 40px;
}

nav{
  display: flex;
	padding: 0 2%;
  background-color: rgba(224, 227, 229, 1);
  height: 120px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  justify-content: space-between;  /* justify X axis */
  align-items: center;    /* align according to Y axis */
  z-index: 4;
}

nav .poly-q{
	width: 160px;
	height: auto;
}


nav ul li{
	list-style-type: none;
	display: inline-block;
}

nav ul .return-button{
	color:#000;
  text-decoration: none;
  transition: 0.3s;
	padding: 10px;
	border: 2px solid #F2C20E;
	border-radius: 5px;
	background: #fff;
	font-family: "Poppins", serif;
}

nav ul .return-button:hover{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav .return-little{
	display: none;
  text-decoration: none;
  transition: 0.3s;
  padding: 5px;
  text-align: center;
	font-family: "Poppins", serif;
}

.wrapper h1{
	font-size: 50px;
  text-align: center;
  color: #fff;
	position: relative;
	width: 70%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
  transition: 1s;
	font-weight: 300;
	padding: 5px;
	margin-bottom: 100px;
}

.team{
  display: flex;
  text-align: center;
  width: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 8%;
  margin-bottom: 10%;
}

.team .team_members{
  background: rgba(73,73,73,0.3);
  margin: 100px;
  margin-top: 80px;
  height: auto;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
  border-radius: 4px;
  transition: 0.5s;
}

.team .team_members h3{
  font-size: 20px;
}

.team .team_members p.role{
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}

.team .team_members:hover{
  background: rgba(232, 232, 232, 1);
  color: #000;
}

.team .team_members .team_img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -135px;
  left: 50%;
  transform: translateX(-50%);
}

.team .team_members .team_img img{
  width: 150px;
  height: 150px;
}

.team_members ul{
  margin: 0;
  position: relative;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.team_members a{
  text-decoration: none !important;
  color: #A4A4A4;
}

.team_members ul li{
  font-size:30px;
  width: 30px;
  height: 30px;
  margin: 10px;
  display: inline-block;
  transition: 0.5s;
}


.team_members a:hover li{
  color: #007bff;
}



footer{
  position:relative;
  bottom:0;
  width:100%;
  background-color: #e9e9e9;
  border-top: 2px solid rgba(120,120,120,0.1);
	border-top: 1px solid #000;
	font-family: "Poppins", serif;
}

footer .collumns{
  display: flex;
  justify-content: space-evenly;
  height: 140px;

}

footer .collumns .first-third{
  width: 140px;
  display: flex;
  border-left: 3px solid #898989;
  margin: 10px;
  height: 130px;
  padding: 0 10px;
}

footer .collumns .first-third ul {
  list-style-type: none;

}

footer .collumns .first-third ul li{
  margin-bottom: 10px;
}

footer .collumns .first-third ul li a{
  text-decoration: none;
  color: #000;
}

footer .collumns .first-third ul li:hover > a{
  text-decoration: underline #000;
}

footer .collumns .second-third{
	width: 150px;
  display: flex;
  border-left: 3px solid #898989;
  margin: 10px;
  height: 130px;
  padding: 0 10px;
}

footer .collumns .second-third ul {
  list-style-type: none;
}

footer .collumns .second-third ul li{
  margin-bottom: 10px;
}

footer .collumns .second-third ul li a{
  text-decoration: none;
  color: #000;
}

footer .collumns .second-third ul li:hover > a{
  text-decoration: underline #000;
}

footer .collumns .third-third{
	width: 140px;
  display: flex;
  border-left: 3px solid #898989;
  margin: 10px;
  height: 130px;
  padding: 0 10px;
}

footer .collumns .third-third ul {
  list-style-type: none;
}

footer .collumns .third-third ul li{
  margin-bottom: 10px;
}

footer .collumns .third-third ul li a{
  text-decoration: none;
  color: #000;
}

footer .collumns .third-third ul li:hover > a{
  text-decoration: underline #000;
}

footer svg{
  position: relative;
  height: 100px;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

footer p{
  font-family: arial;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;

}

footer .logos{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logos .logo-one img{
  height: 50px;
  width: 100px;
  margin: 5px;
}

footer .logos .logo-two img{
  height: 50px;
  width: 120px;
  margin: 5px;
}

footer .logos .logo-three img{
  height: 50px;
  width: 140px;
  margin: 5px;
}



/* Ipad Pro */
@media (max-width: 500px){

	header{
		width: 100%;
	}

	header h1{
		font-family: verdana, sans-serif;
		max-width: 100vw;
		border-radius: 1px;
		text-align: center;
		left: 35px;
		top: 65px;
		color: #000;
		padding: 0;
		font-size: 0.8em;
		box-shadow: 5px 5px #F2C20E !important;
		z-index: 4;
	}

	.abcri-logo{
		width: 90px;
		height: 50px;
	}

	.mngt-logo{
		position: absolute;
		width: 110px;
		height: 50px;
		right: 20px;
		margin: 0 !important;
		padding: 3px;
	}

	nav .poly-q{
    height: auto;
    width: 100px;
  }

  nav .return-little{
    display: block;
		font-size: 15px;
		color: #000;
		border: 2px solid #F2C20E;
		border-radius: 5px;
		background: #fff;
	}

	nav .return-little:hover{
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}


  nav .return-button{
    display: none;
  }

	.wrapper h1{
		font-size: 30px;
		width: 100%;
	}

	.team_members{
		padding: 20px 10px !important;
		margin: 100px 0 !important;
	}

	footer{
    font-size: 13px;
  }

  footer .collumns .first-third{
    margin: 10px 0px !important;
    border-left: none !important;
		padding: 0 0 0 20px !important;
  }

  footer .collumns .second-third{
    margin: 10px 0px !important;
  }

  footer .collumns .third-third{
    margin: 10px 0px !important;
  }

  footer .logos .logo-one img{
    height: auto !important;
    width: 25vw !important;
    margin: 5px;
  }

  footer .logos .logo-two img{
    height: auto !important;
    width: 30vw !important;
    margin: 5px;
  }

  footer .logos .logo-three img{
    height: auto !important;
    width: 33vw !important;
    margin: 5px;
  }

}

@media (min-width: 501px) and (max-width: 767px){
	header{
		width: 100%;
	}
	header h1{
		font-family: verdana, sans-serif;
		max-width: 100vw;
		border-radius: 1px;
		text-align: center;
		left: 35px;
		top: 65px;
		color: #000;
		padding: 0;
		font-size: 1.2em;
		box-shadow: 5px 5px #F2C20E !important;
		z-index: 4;
	}
	.abcri-logo{
		width: 90px;
		height: 50px;
	}

	.mngt-logo{
		position: absolute;
		width: 120px;
		height: 50px;
		right: 0;
		margin: 0 !important;
		padding: 3px;
	}

	nav .poly-q{
		width: 100px;
		height: auto;
	}


	nav .return-little{
		display: block;
		font-size: 15px;
		color: #000;
		border: 2px solid #F2C20E;
		border-radius: 5px;
		background: #fff;
	}

	nav .return-little:hover{
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}


	nav .return-button{
		display: none;
	}

	.wrapper h1{
		font-size: 30px;
		width: 70%;
	}

	footer{
		overflow: hidden;
	}

	footer .collumns .first-third{
  	margin: 10px 0px !important;
  	border-left: none !important;
		border-right: 3px solid #898989;
  }

  footer .collumns .second-third{
  	margin: 10px 0px !important;
		border-left: none !important;
  }

	footer .collumns .third-third{
		margin: 10px 0px !important;
	}

	footer .logos .logo-one img{
		height: auto !important;
		width: 12vw !important;
		margin: 5px;
	}

	footer .logos .logo-two img{
		height: auto !important;
		width: 12vw !important;
		margin: 5px;
	}

	footer .logos .logo-three img{
		height: auto !important;
		width: 18vw !important;
		margin: 5px;
	}
}


@media (min-width: 768px) and (max-width: 1246px){
	header h1{
		font-size: 18px;
		max-width: 300px;
		padding: 2px !important;
		top: 20px;
		right: 10px;
		box-shadow: 5px 5px #F7B608 !important;
	}

	.abcri-logo{
		width: 150px;
		height: auto;
		margin-bottom: 20px !important;
	}

	.mngt-logo{
		width: 210px;
		height: auto;
		margin: 20px 0px !important;
	}

	nav{
		padding: 0 2%;
		justify-content: space-between;
	}

	nav .poly-q{
		width: 150px;
		height: auto;
	}



	nav .return-little{
		display: block;
		font-size: 15px;
		color: #000;
		border: 2px solid #F2C20E;
		border-radius: 5px;
		background: #fff;
	}

	nav .return-little:hover{
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}


	nav .return-button{
		display: none;
	}

	.wrapper h1{
		font-size: 50px;
		width: 70%;
	}
}

@media (min-width: 1247px) and (max-width: 1366px){
    header h1{
      max-width: 650px;
      font-size: 30px;
      padding: 0 !important;
      margin: 15px 0 !important;
    }


	}

@media (min-width: 1367px) and (max-width: 1589px){
	  header h1{
	    max-width: 800px;
	    font-size: 30px;
	    padding: 0 !important;
	    margin: 15px 0 !important;
	  }

	}

	@media (min-width: 1590px) and (max-width: 1750px){

	  header h1{
	    font-size: 27px;
	  }

	}
