@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;500;600;700&family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Genos:ital,wght@0,100;0,300;0,600;1,400&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body{
  font-family: "Poppins", sans-serif;
  /*background: #1c1c1c; */
  background: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)), url(../Images/free-obj.jpg) no-repeat;
  background-size: cover;
}


header{
  position: relative;
  height: 120px;
  background-image: linear-gradient(rgba(229, 229, 228, 0.65), rgba(225, 225, 223, 0.85)), url(../Images/index-bg.jpg);
  background-position: center;
  background-size: cover;
}

header h1{
  font-family: verdana, sans-serif;
  letter-spacing: 2px;
  position: absolute;
  max-width: 1220px;
  top: 10px;
  right: 30px;
  border-radius: 1px;
  padding: 20px;
  text-align: center;
  color: #000;
  background-color: rgba(242, 242, 242, 0.8);
  font-size: 2em;
  box-shadow: 10px 10px #F2C20E;
  z-index: 4;
}

.abcri-logo{
  width: 190px;
  height: 110px;
  margin: 5px;
}

.mngt-logo{
  width: 260px;
  height: 110px;
  margin: 5px 40px;
}

nav{
  display: flex;
	padding: 0 2%;
  background-color: rgba(224, 227, 229, 1);
  height: 120px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  justify-content: space-between;  /* justify X axis */
  align-items: center;    /* align according to Y axis */
  z-index: 4;
}

nav .poly-q{
	width: 160px;
	height: auto;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
}

nav .return-button{
	color:#000;
  text-decoration: none;
  transition: 0.3s;
	padding: 10px;
	border: 2px solid #F2C20E;
	border-radius: 5px;
	background: #fff;
}

nav .return-button:hover{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav .return-little{
	display: none;
  text-decoration: none;
  transition: 0.3s;
  padding: 5px;
  text-align: center;
}


section{
  height: auto;
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.title{
  font-size: 2.5rem;
  margin: 2rem 0rem;
  text-align: center;
  border-radius: 1px;
  padding: 10px;
}

.qaa{
  max-width: 800px;
  margin-top: 2em;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  margin-bottom: 50px;
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3{
  font-size: 1.5rem;
}

.answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}


.answer p{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  text-align: justify;
}

.qaa.active .answer{
  max-height: 500px;
  animation: fade 1s ease-in-out;
}

.qaa.active svg{
  transform: rotate(180deg);
}

svg{
  transition: transform 0.5s ease-in;
}

@keyframes fade{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}


footer{
  position:relative;
  bottom:0;
  width:100%;
  background-color: #e9e9e9;
  border-top: 2px solid rgba(120,120,120,0.1);
}

footer .collumns{
  display: flex;
  justify-content: space-evenly;
  height: 140px;

}

footer .collumns .first-third{
  width: 130px;
  display: flex;
  border-left: 3px solid #898989;
  margin: 10px;
  height: 130px;
  padding: 0 10px;
}

footer .collumns .first-third ul {
  list-style-type: none;

}

footer .collumns .first-third ul li{
  margin-bottom: 10px;
}

footer .collumns .first-third ul li a{
  text-decoration: none;
  color: #000;
}

footer .collumns .first-third ul li:hover > a{
  text-decoration: underline #000;
}

footer .collumns .second-third{
  width: 150px;
  display: flex;
  border-left: 3px solid #898989;
  margin: 10px;
  height: 130px;
  padding: 0 10px;
}

footer .collumns .second-third ul {
  list-style-type: none;
}

footer .collumns .second-third ul li{
  margin-bottom: 10px;
}

footer .collumns .second-third ul li a{
  text-decoration: none;
  color: #000;
}

footer .collumns .second-third ul li:hover > a{
  text-decoration: underline #000;
}

footer .collumns .third-third{
  width: 132px;
  display: flex;
  border-left: 3px solid #898989;
  margin: 10px;
  height: 130px;
  padding: 0 10px;
}

footer .collumns .third-third ul {
  list-style-type: none;
}

footer .collumns .third-third ul li{
  margin-bottom: 10px;
}

footer .collumns .third-third ul li a{
  text-decoration: none;
  color: #000;
}

footer .collumns .third-third ul li:hover > a{
  text-decoration: underline #000;
}

footer svg{
  position: relative;
  height: 100px;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

footer p{
  font-family: arial;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;

}

footer .logos{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logos .logo-one img{
  height: 50px;
  width: 90px;
  margin: 5px;
}

footer .logos .logo-two img{
  height: 50px;
  width: 120px;
  margin: 5px;
}

footer .logos .logo-three img{
  height: 50px;
  width: 140px;
  margin: 5px;
}


@media (max-width: 500px){

	header{
		width: 100%;
	}

	header h1{
		font-family: verdana, sans-serif;
		max-width: 100vw;
		border-radius: 1px;
		text-align: center;
		left: 35px;
		top: 65px;
		color: #000;
		padding: 0;
		font-size: 0.8em;
		box-shadow: 5px 5px #F2C20E !important;
		z-index: 4;
	}

	.abcri-logo{
		width: 90px;
		height: 50px;
	}

	.mngt-logo{
		position: absolute;
		width: 110px;
		height: 50px;
		right: 20px;
		margin: 0 !important;
		padding: 3px;
	}

	nav .poly-q{
    height: auto;
    width: 100px;
  }

  nav .return-little{
    display: block;
		font-size: 15px;
		color: #000;
		border: 2px solid #F2C20E;
		border-radius: 5px;
		background: #fff;
	}

	nav .return-little:hover{
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}


  nav .return-button{
    display: none;
  }

	.title{
		font-size: 2rem;
	}

	footer{
		font-size: 12px;
	}

	footer .collumns .first-third{
		margin: 10px 0px !important;
		border-left: none !important;
		border-right: 3px solid #898989;
	}

	footer .collumns .second-third{
		margin: 10px 0px !important;
		border-left: none !important;
	}

	footer .collumns .third-third{
		margin: 10px 0px !important;
	}

	footer .logos .logo-one img{
		height: auto !important;
		width: 20vw !important;
		margin: 5px;
	}

	footer .logos .logo-two img{
		height: auto !important;
		width: 25vw !important;
		margin: 5px;
	}

	footer .logos .logo-three img{
		height: auto !important;
		width: 27vw !important;
		margin: 5px;
	}

}

@media (min-width: 501px) and (max-width: 767px){
	header{
		width: 100%;
	}
	header h1{
		font-family: verdana, sans-serif;
		max-width: 100vw;
		border-radius: 1px;
		text-align: center;
		left: 35px;
		top: 65px;
		color: #000;
		padding: 0;
		font-size: 1.2em;
		box-shadow: 5px 5px #F2C20E !important;
		z-index: 4;
	}
	.abcri-logo{
		width: 90px;
		height: 50px;
	}

	.mngt-logo{
		position: absolute;
		width: 120px;
		height: 50px;
		right: 0;
		margin: 0 !important;
		padding: 3px;
	}

	nav .poly-q{
		width: 100px;
		height: auto;
	}

	nav .return-little{
		display: block;
		font-size: 15px;
		color: #000;
		border: 2px solid #F2C20E;
		border-radius: 5px;
		background: #fff;
	}

	nav .return-little:hover{
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}


	nav .return-button{
		display: none;
	}

	footer{
		overflow: hidden;
	}

	footer .collumns .first-third{
		margin: 10px 0px !important;
		border-left: none !important;
		border-right: 3px solid #898989;
	}

	footer .collumns .second-third{
		margin: 10px 0px !important;
		border-left: none !important;
	}

	footer .collumns .third-third{
		margin: 10px 0px !important;
	}

	footer .logos .logo-one img{
		height: auto !important;
		width: 15vw !important;
		margin: 5px;
	}

	footer .logos .logo-two img{
		height: auto !important;
		width: 20vw !important;
		margin: 5px;
	}

	footer .logos .logo-three img{
		height: auto !important;
		width: 23vw !important;
		margin: 5px;
	}
}


@media (min-width: 768px) and (max-width: 1246px){
	header h1{
		font-size: 18px;
		width: 300px;
		padding: 2px !important;
		top: 20px;
		right: 10px;
		box-shadow: 5px 5px #F7B608 !important;
	}

	.abcri-logo{
		width: 150px;
		height: auto;
		margin-bottom: 20px !important;
	}

	.mngt-logo{
		width: 210px;
		height: auto;
		margin: 20px 0px !important;
	}

	nav{
		padding: 0 2%;
		justify-content: space-between;
	}

	nav .poly-q{
		width: 150px;
		height: auto;
		margin: 0 !important;
		padding: 0 !important;
	}

	nav .return-little{
		display: block;
		font-size: 15px;
		color: #000;
		border: 2px solid #F2C20E;
		border-radius: 5px;
		background: #fff;
	}

	nav .return-little:hover{
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}


	nav .return-button{
		display: none;
	}
}

@media (min-width: 1247px) and (max-width: 1366px){
    header h1{
      max-width: 650px;
      font-size: 30px;
      padding: 0 !important;
      margin: 15px 0 !important;
    }

	}

@media (min-width: 1367px) and (max-width: 1589px){
	  header h1{
	    max-width: 800px;
	    font-size: 30px;
	    padding: 0 !important;
	    margin: 15px 0 !important;
	  }
	}

	@media (min-width: 1590px) and (max-width: 1750px){

	  header h1{
	    font-size: 26px;
	  }

	}
